.custom-table, .text-area .custom-table {
  width: 100%;
  overflow-x: auto;
}

.custom-table table, .text-area .custom-table table {
  width: 100%;
  background: none;
  color: #716d64;
  font-weight: normal;
  margin: 0;
}

.custom-table table thead tr th, .text-area .custom-table table thead tr th {
  background: #efdfc0;
}

.custom-table table thead tr th:first-child, .text-area .custom-table table thead tr th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.custom-table table thead tr th:last-child, .text-area .custom-table table thead tr th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.custom-table table tbody tr:first-child td:first-child, .text-area .custom-table table tbody tr:first-child td:first-child {
  border-top-left-radius: 8px;
}

.custom-table table tbody tr:first-child td:last-child, .text-area .custom-table table tbody tr:first-child td:last-child {
  border-top-right-radius: 8px;
}

.custom-table table tbody tr:last-child td:first-child, .text-area .custom-table table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

.custom-table table tbody tr:last-child td:last-child, .text-area .custom-table table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.custom-table table tbody tr td, .text-area .custom-table table tbody tr td {
  background: #e9e4d9;
  border-radius: 0;
}

.custom-table table th, .custom-table table td, .text-area .custom-table table th, .text-area .custom-table table td {
  padding: 10px 25px;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
}

.custom-table table th.icon img, .custom-table table td.icon img, .text-area .custom-table table th.icon img, .text-area .custom-table table td.icon img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.custom-table table th.id, .custom-table table td.id, .text-area .custom-table table th.id, .text-area .custom-table table td.id {
  font-weight: 700;
  color: #4d4941;
  text-align: center;
}

.custom-table table th.bg-light, .custom-table table td.bg-light, .text-area .custom-table table th.bg-light, .text-area .custom-table table td.bg-light {
  background-color: #f7f2e8;
}

.custom-table table th.valign-top, .custom-table table td.valign-top, .text-area .custom-table table th.valign-top, .text-area .custom-table table td.valign-top {
  vertical-align: top;
}

.custom-table table th.valign-bottom, .custom-table table td.valign-bottom, .text-area .custom-table table th.valign-bottom, .text-area .custom-table table td.valign-bottom {
  vertical-align: bottom;
}

.custom-table table th p:not(:first-child), .custom-table table td p:not(:first-child), .text-area .custom-table table th p:not(:first-child), .text-area .custom-table table td p:not(:first-child) {
  margin-top: 6px;
}

.custom-table table .text-center, .text-area .custom-table table .text-center {
  text-align: center;
}

.custom-table table .text-left, .text-area .custom-table table .text-left {
  text-align: left;
}

.custom-table table .text-right, .text-area .custom-table table .text-right {
  text-align: right;
}

.custom-table table .text-right, .text-area .custom-table table .text-right {
  text-align: right;
}

.custom-table table .text-wrap, .text-area .custom-table table .text-wrap {
  white-space: normal;
}

.custom-table table .text-nowrap, .text-area .custom-table table .text-nowrap {
  white-space: nowrap;
}

.custom-table table .text-strong, .text-area .custom-table table .text-strong {
  font-weight: 700;
}

.custom-table table .text-light, .text-area .custom-table table .text-light {
  color: #999489;
}

.custom-table table .text-accent, .text-area .custom-table table .text-accent {
  color: #ec8a2f;
  font-weight: 700;
}

.custom-table table .text-small, .text-area .custom-table table .text-small {
  font-size: 14px;
  line-height: 18px;
  font-family: 'Proxima Nova';
  text-transform: none;
}

.custom-table table .text-title, .text-area .custom-table table .text-title {
  font-family: 'Angelus Medieval';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  color: #6f6551;
}

.custom-table table th .text-small, .text-area .custom-table table th .text-small {
  color: #6b675e;
}

.custom-table.xxl table, .text-area .custom-table.xxl table {
  min-width: 1400px;
}

.custom-table.xl table, .text-area .custom-table.xl table {
  min-width: 1200px;
}

.custom-table.lg table, .text-area .custom-table.lg table {
  min-width: 992px;
}

.custom-table.md table, .text-area .custom-table.md table {
  min-width: 768px;
}

.custom-table.sm table, .text-area .custom-table.sm table {
  min-width: 576px;
}

.custom-table::-webkit-scrollbar, .text-area .custom-table::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #ded9ce;
}

.custom-table::-webkit-scrollbar-thumb, .text-area .custom-table::-webkit-scrollbar-thumb {
  background-color: #ca8a2f;
  border-radius: 4px;
}

.custom-table::-webkit-scrollbar-thumb:hover, .text-area .custom-table::-webkit-scrollbar-thumb:hover {
  background-color: #ca8a2f;
}
