:root {
    --body: #fbfbf9;
    --nav: #efebe2;
    --text-main: #6f6551;
    --text-secondary: #d49600;
    --orange: #e2b042;
    --inner: #efebe2;
}

nav .nav-list .nav-item.active a {
    color: var(--orange);
}
nav .nav-list .nav-item.active a::before {
    width: 100%;
}
.table-item span {
    margin-left: 30px;
    text-align: right;
}
.patch-info-content .patch-info {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.patch-info-content .patch-info .patch-info-data {
    color: var(--orange);
    font-size: 16px;
    font-weight: bold;
}
.patch-info-content .patch-info .patch-info-type {
    text-transform: uppercase;
    color: var(--text-main);
    font-size: 16px;
    font-weight: bold;
}
.patch-info-container .patch-title p {
    font-size: 36px;
    color: var(--text-main);
    margin-bottom: 30px;
    font-family: 'DXAngelus';
}
.patch-info-container .patch-img img {
    width: 40%;
}
.patch-info-container .patch-description {
    color: var(--text-main);
}
.patch-info-container .patch-description p {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: justify;
    font-size: 20px;
}
.patch-description ul {
    margin-right: 0px;
    padding: 0 40px;
}

.patch-description blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;

    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
    padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
}
.patch-description .marker {
    background-color: Yellow;
}

.patch-description table {
    margin: auto !important;
    background: none !important;
    border: none !important;
}


.inner-features__content ul {
    margin-right: 0px;
    padding: 0 40px;
}

.inner-features__content blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;

    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
    padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
}
.inner-features__content .marker {
    background-color: Yellow;
}

.inner-features__content table {
    margin: auto !important;
    background: none !important;
    border: none !important;
}

.pagination {
    border-radius: 4px;
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
}

.page-link {
    background-color: #fff;
    border: 1px solid #f1e8e4;
    color: #666;
    display: block;
    line-height: 1rem;
    margin-left: -1px;
    padding: .5625rem .625rem;
    position: relative;
    min-width: 30px;
}

.page-link:hover {
    background-color: #6f6551;
    border-color: #f1e8e4;
    color: #ffffff;
    text-decoration: none;
    z-index: 2
}

.page-link:focus {
    box-shadow: none;
    outline: 0;
    z-index: 3
}

.page-item:first-child .page-link {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0
}

.page-item:last-child .page-link {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px
}

.page-item.active .page-link {
    background-color: #6f6551;
    border-color: var(--main-color);
    color: #fff;
    z-index: 3
}

.page-item.disabled .page-link {
    background-color: #fff;
    border-color: #f1e8e4;
    color: #e8dfdb;
    cursor: auto;
    pointer-events: none
}

.pagination-lg .page-link {
    font-size: 1.25rem;
    line-height: 1.5;
    padding: .5625rem .75rem
}

.pagination-lg .page-item:first-child .page-link {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px
}

.pagination-lg .page-item:last-child .page-link {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px
}

.pagination-sm .page-link {
    font-size: .75rem;
    line-height: 1.5;
    padding: .4375rem .5rem
}

.pagination-sm .page-item:first-child .page-link {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}

.pagination-sm .page-item:last-child .page-link {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px
}
.paginations {
    margin-top: 50px;
}
.paginations nav {
    position: inherit;
    width: 100%;
    height: 90px;
    background: none;
    text-transform: uppercase;
    z-index: 1;
}
.inner .streams-list .streams-list-content .streamer .streamer-widget {
    max-width: 373px;
}
.inner .streams-list .streams-list-content .streamer {
    width: auto;
}
.inner .streams-list .streams-list-content .streamer .streamer-name i.fa-youtube {
    color: #ff0000;
}
.inner .streams-sort span {
    position: initial;
    font-size: 20px;
}
.inner .streams-list .streams-list-content .streamer .streamer-name {
    justify-content: space-between;
}
.control-panel {
    width: 100% !important;
}
.sign-up-disable {
    cursor: default;
    filter: saturate(0.5);
}
.sign-up-disable:hover {
    padding-bottom: 0px !important;
}



/* Old Site */
.streams-list .streams-list-content {
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin-bottom: 60px;
}
.streams-list .streams-list-content .streamer {
    width: auto;
}
.streams-list .streams-list-content .streamer .streamer-name {
    justify-content: space-between;
}

.streams-list .streams-list-content .streamer .streamer-name {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.streams-list .streams-list-content .streamer .streamer-name h1 {
    text-transform: none;
    color: var(--text-main);
    font-size: 36px;
}
.streams-list .streams-list-content .streamer .streamer-widget {
    max-width: 373px;
}

.streams-list .streams-list-content .streamer .streamer-widget {
    height: 185px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 3px;
}
.streams-list .streams-list-content .streamer:nth-child(2) {
    margin-left: 150px;
    margin-right: 150px;
}
.launcher-btn {
    min-width: 420px;
    height: 60px;
    background: url(../images/bg/updater_button_bg.jpg) top/cover no-repeat;
    padding: 5px;
    border-radius: 4px;
    color: white !important;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    -webkit-transition: -webkit-filter .3s ease-in-out;
    transition: -webkit-filter .3s ease-in-out;
    transition: filter .3s ease-in-out;
    transition: filter .3s ease-in-out, -webkit-filter .3s ease-in-out;
}
.launcher-btn:hover {
    color: white;
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}
.launcher-btn span {
    width: 55px;
    height: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.launcher-btn span img {
    width: 25px;
}
.download-item-block p {
    margin-top: 25px;
    margin-bottom: 25px;
}
.download-item--a {
    display: flex;
    justify-content: center;
    width: 100%;
}

.patch-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}

.patch-list .patch-list-content {
    width: 33.3%;
    margin-bottom: 60px;
    padding: 0px 30px 0px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.patch-list .patch-list-content:hover .patch-img div img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.patch-list .patch-list-content .patch-title p {
    font-size: 36px;
    color: var(--text-main);
    margin-bottom: 12px;
    font-family: 'DXAngelus';
}

.patch-list .patch-list-content .patch-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.patch-list .patch-list-content .patch-info .patch-info-data {
    color: var(--orange);
    font-size: 16px;
    font-weight: bold;
}

.patch-list .patch-list-content .patch-info .patch-info-type {
    text-transform: uppercase;
    color: var(--text-main);
    font-size: 16px;
    font-weight: bold;
}

.patch-list .patch-list-content .patch-img {
    width: 100%;
    overflow: hidden;
    padding: 3px;
    border: 1px solid rgba(185, 175, 162, 0.774);
    height: 300px;
}

.patch-list .patch-list-content .patch-img div {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.download_now-btn {
    margin-right: 15px;
    margin-left: 15px;
}

.htc__step .launcher-btn{
    min-width: 420px;
    width: auto !important;
}
.big-button {
    max-width: 440px !important;
    aspect-ratio: 380 / 130 !important;
}
.navigation__group-item-text.active {
    color: #d49600;
}
.main-news__item-btns {
    width: 100%;
}
.main-news__item-btn {
    cursor: default;
}
.step_title {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    font-family: 'Angelus Medieval';
    font-size: 40px;
    line-height: 48px;
    color: #6f6551;
    text-transform: uppercase;
}
.breadcrumbs {
    padding: 20px;
    font-family: 'Angelus Medieval';
    font-size: 14px;
    color: #6f6551;
    text-transform: uppercase;
}
.breadcrumbs span > a {
    color: #6f6551;
}
.breadcrumbs span > span {
    color: #8d8d8d;
}
.main-news__item.swiper-slide {
    margin-right: 20px;
    width: 500px !important;
    height: 320px;
}
.main-news__item.swiper-slide img {
    border-radius: 60px;
}
.navigation__item-text.active {
    color: #d49600;
}
.site-description {
    color: black;
    text-align: justify;
    display: block;
}
.text-bold {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.patch-list-content .patch-img img {
    width: 110%;
    height: 100%;
}

.header .info.info--center {
    text-shadow: 2px 2px 2px #323131;
}

.category-btn {
    background: #ffffff;
    cursor: pointer;
}
.category-tabs {
    justify-content: flex-start;
}
.category-tab-btn {
    margin-right: 20px;
    width: auto !important;
}
.inner-features__content-box:not(.active) {
    top: 50px;
}
.theme-color {
    color: #d4893a;
}


@media (max-width: 1024px) {
    .main-news__item.swiper-slide {
        width: 350px !important;
    }
    .patch-list .patch-list-content {
        width: 100% !important;
    }
    .inner-page__content .text-area h1 img {
        width: 100% !important;
        height: 100% !important;
    }
    .download-item--a a {
        min-width: 380px;
    }
    .step_title {
        font-size: 36px !important;
    }
}

