nav {
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 20;
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0px 15px 0px 30px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.nav-right .my-account {
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 100;
}

.nav-right .my-account:hover {
  color: #f7ab29;
}

.nav-right .my-account:hover .my-account-dropdown {
  visibility: visible;
  opacity: 1;
  max-height: 300px;
  padding: 30px;
}

.nav-right .my-account i {
  color: #f7ab29;
  margin-right: 15px;
  font-size: 16px;
}

.nav-right .my-account .my-account-dropdown {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  -webkit-transition: .8s;
  transition: .8s;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 70px;
  min-width: 240px;
  background-color: rgba(0, 0, 0, 0.925);
  border-top: 1px solid #6b4b14;
  padding: 0px;
  z-index: 100;
}

.nav-right .my-account .my-account-dropdown .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 40px;
  background: linear-gradient(152deg, #ffc156, #ca9537);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #291004;
  -webkit-clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 98%, 10% 98%, 0% 50%);
          clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 98%, 10% 98%, 0% 50%);
  margin-bottom: 25px;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-right .my-account .my-account-dropdown .login:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.nav-right .my-account .my-account-dropdown .register {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffc156;
  padding-bottom: 4px;
  border-bottom: 1px solid #ffc156;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-right .my-account .my-account-dropdown .register:hover {
  color: white;
}

.nav-right .lang {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 100;
}

.nav-right .lang:hover {
  color: #f7ab29;
}

.nav-right .lang:hover .lang-dropdown {
  visibility: visible;
  opacity: 1;
  max-height: 300px;
  padding: 20px;
}

.nav-right .lang:hover .fa-angle-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav-right .lang .fa-angle-down {
  color: #555555 !important;
  font-size: 12px !important;
  margin-left: 15px;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-right .lang i {
  color: #f7ab29;
  margin-right: 15px;
  font-size: 16px;
}

.nav-right .lang .lang-dropdown {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  -webkit-transition: .8s;
  transition: .8s;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 70px;
  min-width: 140px;
  background-color: rgba(0, 0, 0, 0.925);
  border-top: 1px solid #6b4b14;
  padding: 0px;
  z-index: 1000;
}

.nav-right .lang .lang-dropdown a:not(:last-child) {
  margin-bottom: 12px;
}

.nav-right .lang .lang-dropdown a {
  color: white;
  font-size: 15px;
  color: #818181;
  text-align: left;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-right .lang .lang-dropdown a:hover {
  color: white;
}

.nav-list {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list .logo {
  margin-right: 55px;
  padding-top: 5px;
}

.nav-list .logo img {
  width: 80px;
}

.nav-list .logo2 {
  display: none;
}

.nav-list li:not(:last-child) {
  margin-right: 60px;
}

.nav-list .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: #818181;
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: normal;
  text-transform: uppercase;
  padding: 6px 0px 6px 0px;
}

.nav-list .nav-item:hover {
  color: #db9e35;
}

.nav-list .nav-item img {
  margin-right: 15px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  z-index: 10;
}

.mobile-menu div {
  width: 20px;
  height: 2px;
  background: #fff;
  margin: 5px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.nav-list.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .nav-right .my-account {
    margin-right: 15px;
  }
  .nav-right .my-account span {
    display: none;
  }
  .nav-right .my-account .my-account-dropdown {
    right: 0;
    min-width: 180px;
  }
  .nav-right .my-account .my-account-dropdown .login {
    width: 100%;
  }
  .nav-right .my-account .my-account-dropdown .register {
    text-align: center;
    border: none;
  }
  .nav-right .lang span {
    display: none;
  }
  .nav-right .lang .fa-angle-down {
    margin-left: 0px;
  }
  .nav-right .lang .lang-dropdown {
    min-width: 100px;
    right: 0;
  }
  .nav-list {
    width: 100% !important;
  }
}

@media (max-width: 1280px) {
  .nav-list {
    position: fixed;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    width: 40%;
    height: 100vh;
    overflow-y: scroll;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    z-index: 100;
    background-color: black;
    padding-top: 50px;
    opacity: 0;
  }
  .nav-list li:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 50px;
  }
  .nav-list .logo {
    margin: 0;
    display: none;
  }
  .nav-list .logo2 {
    display: block;
  }
  .nav-list .logo2 img {
    width: 200px;
    margin-bottom: 40px;
  }
  .mobile-menu {
    display: block;
    z-index: 100;
  }
  .mobile-menu.active .line1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
            transform: rotate(-45deg) translate(-8px, 8px);
  }
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  .mobile-menu.active .line3 {
    -webkit-transform: rotate(45deg) translate(-2px, -2px);
            transform: rotate(45deg) translate(-2px, -2px);
  }
}
/*# sourceMappingURL=nav.css.map */


.nav-list .nav-item-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: #818181;
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: normal;
  text-transform: uppercase;
  padding: 6px 0px 6px 0px;
  cursor: pointer;
}
.nav-list .nav-item-dropdown img {
  margin-right: 15px;
}

.menu-dropdown {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  -webkit-transition: .8s;
  transition: .8s;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 70px;
  min-width: 140px;
  background-color: rgba(0, 0, 0, 0.925);
  border-top: 1px solid #6b4b14;
  padding: 0px;
  z-index: 1000;
}
.nav-item-dropdown:hover {
  color: #db9e35;
}
.nav-item-dropdown:hover .menu-dropdown {
  color: #db9e35;
  visibility: visible;
  opacity: 1;
  max-height: 300px;
  padding: 20px;
}
.menu-dropdown a {
  color: white;
  font-size: 15px;
  color: #818181;
  text-align: left;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}
.menu-dropdown a:nth-child(1) {
  margin-bottom: 15px;
}
.menu-dropdown a:hover {
  color: #db9e35;
}